@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --background-color:#f4f7fa;
  --slider-color: #3f4d67;
  --btns-color:#04a9f5;
  --text-color: #00000;
  --loghead-color:#464646;
  --li-color:#04a9f5;
}


/* color picker start */


.content {
  width: 70%;
  padding: 20px;
  color: #000;
}

.settings-icon {
  font-size: 20px !important;
  margin-top: 6px !important;
  cursor: pointer !important;
}


.color-picker {
  position: absolute;
  left: 259.1%;
  top: 77%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



/* color picker ends */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: var(--background-color);
  color: #888;
}



::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 7, 61);
  border-radius: 5px;
}

.main-card{
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08) !important;
  border: 0px !important;
  border-radius: 0px !important;
}

.progress-bar.progress-c-theme {
  background: -webkit-linear-gradient(225deg,#1de9b6,#1dc4e9);
  background: linear-gradient(-135deg,#1de9b6,#1dc4e9);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.3) !important;
}

.progress-bar.progress-c-theme2 {
  background: -webkit-linear-gradient(225deg,#899fd4,#a389d4);
  background: linear-gradient(-135deg,#899fd4,#a389d4);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.3) !important;
}


.cb-font{
  font-size: 14px !important;
  font-weight: 400 !important;
}

.rounded-circle-img{
  border-radius: 50% !important;
  width: 40px ;
}

.transparent-btn {
  background: transparent;
  border: none;
  color: blue;
  cursor: pointer;
}

.theme-bg{
  padding: 4px 10px;
  min-height: auto;
  position: relative;
  margin-right: 5px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
  font-size: 12px;
  background: -webkit-linear-gradient(225deg,#1de9b6,#1dc4e9);
  background: linear-gradient(-135deg,#1de9b6,#1dc4e9);
  text-decoration: none !important;

}

.theme-bg2{
    padding: 4px 10px;
    min-height: auto;
    position: relative;
    margin-right: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    font-size: 12px;
    background: -webkit-linear-gradient(225deg,#899fd4,#a389d4);
    background: linear-gradient(-135deg,#899fd4,#a389d4);
    text-decoration: none !important;

}
.page-header-title{
  font-size: 18px;
  font-weight: 400;
}

.text-c-green{
  color: #1de9b6;
  font-size: 30px;
  margin-right: 5px !important;
}


.dashimage {
  position: absolute;
  top: -46px;
  left: 103px;
  opacity: 0.7;
}

.dashboard-cards {
  transition: transform 0.3s ease-in-out;
}

.dashboard-cards:hover{
  transform: scale(1.05);
}

.sidebar-icon:hover{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}

.dashboard-toprow{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dashboard-table{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.loginheader {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #fff;
}

.login-row {
  background-color: #f2ebeb;
  height: auto !important;
}

.logincont {
  width: 70%;
  height: 450px;
}

input.form-control:focus {
  border-color: none;
  box-shadow: none;
}

input[type="username"],
input[type="password"] {
  width: 100% !important;
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid #ddd !important;
  background-color: transparent !important;
  margin-bottom: 20px !important;
  font-size: 16px !important;
  color: #555 !important;
}

input[type="username"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #805ad5 !important;
}

.login-form {
  background: #fff;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.logintop-head {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.loginimage {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.login-heading {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.login-cont {
  width: 100%;
  max-width: 30%;
  border-radius: 20px;
}


table th,
table td {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.label {
  font-weight: 500;
}

.usericon {
  position: absolute;
  top: 38px;
  left: 11px;
  color: #003bc5;
  font-size: 13px;
}

.keyicon {
  position: absolute;
  top: 38px;
  left: 11px;
  color: #003bc5;
  font-size: 20px;
}

.login-btn {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  background-color: #003bc5 !important;
}

.login-btn:hover {
  color: #fff !important;
  background-color: #032679 !important;
}

.login-titles {
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
}

.fgt-pswd {
  color: #003bc5;
  font-weight: 500;
  font-size: 0.9rem;
}

.login-input {
  padding-left: 44px;
}

.signout-head {
  display: flex;
  justify-content: space-between;
}

.Signout-icon {
  font-size: 22px;
  cursor: pointer;
}

.alert {
  font-size: 15px;
  text-align: center;
  padding: 3px;
}

.card {
  overflow: hidden;
}

.card-titlename {
  font-size: 0.89rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-variant: normal;
}

.bars-cont {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.bars {
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 10px;
}



.main-container {
  /* background: rgb(0, 7, 61); */
  background-color: var(--slider-color);
  color: #fff;
  height: 100vh;
  width: 200px;
  position: relative;
  box-shadow: 1px 0 20px 0 #3f4d67;
}

.list-top {
  margin-top: 60px;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

/* nav li {
  background-color:var(--li-color)!important;
} */

nav a {
  margin-left: 40px;
}

/* nav li,
nav a:hover {
  background-color:var(--li-color)!important;
} */

.list-items {
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-left: -25px;
}


.list-items:hover {
  cursor: pointer;
  width: 100%;
}

.icons {
  font-size: 20px; 
}

.list-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  list-style-type: none;
}

.list-link:hover {
  text-decoration: none;
  color: #fff;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background: var(--slider-color);
  width: 87%;
  border-radius: 6px;
  text-align: start;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  top: 251px;
  left: 174px;
  transition: 1s ease;
}

.menu-item {
  text-decoration: none;
  font-size: 0.4rem;
  font-weight: 500;
  color: white;
  width: 100%;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: 7px;
}

.menu-item:hover {
  background-color: #00264d !important;
  color: #fff;
}

.arrow-icon {
  font-size: 1.5rem;
  margin-left: 10px;
}

.arrow-svg {
  margin-top: 2px !important;
  margin-left: -8px !important;
}

.svg-masters {
  margin-left: 11px;
  font-size: 1.4rem;
}

.login-form {
  background: #fff;
  height: auto;
}

.modal-title {
  font-weight: 500;
  font-family: verdana;
  font-size: 17px;
}

.keyword-btn {
  /* background: rgb(0, 7, 61); */
  color: #303030;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #222222;
}



.keyword-card {
  height: auto;
  position: relative;
  background: white !important;
  color: #000 !important;
  font-size: 11px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 20px;
}

.keyword-card:nth-child(5n) {
  margin-right: 0;
}

.keyword-card-btn {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 9px;
}

.keyword-card-body {
  height: 31px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.plus-icon {
  font-size: 19px;
  position: absolute;
  top: 8px;
  left: 69px;
}


.pro-topcont{
  display: flex !important;
  flex-direction: row !important;
  }

.buttons{
  background-color: var(--btns-color);
  border-color: #04a9f5;
  color: #fff;
  border: 0px !important;
  outline: none !important;
}

.buttons:hover{
  background-color:#039ae0;
  color: #fff;
  border: 0px !important;
  outline: none !important;
  font-weight: 400;
}


.rowadd-btn{
  /* background-color: #00264d; */
  background-color: var(--slider-color);
  color: #fff;
}

.rowadd-btn:hover{
  background-color:var(--li-color);
  color: #fff;
  border: 1px solid var(--li-color);
  font-weight: 400;
}

td.total-amount-text {
  text-align: right;
}

td.total-amount-input {
  text-align: right;
}

.invoice-td{
  border: 1px solid #151515;
}

.invoice-input{
  outline: none !important;
  border: 0px;
  padding: 0px !important;
  font-weight: bold;

}

.invoice-th{
  background: #EFEFEF;
  padding: 5px;
  border: 1px solid #151515;
}


.details-btn{
  background: none !important;
  border: 0px !important;
  outline: none !important;
  color: #003bc5 !important;
}
  
.orderh-table tr{
  line-height: 25px !important;
  min-height: 25px !important;
  height: 25px !important;
}

@media only screen and (max-width: 650px) {
  .login-form {
    padding: 20px !important;
    width: 80% !important;
  }

  .main-container {
    height: 123vh !important;
  }

  .dashimage {
    position: absolute !important;
    top: 4px !important;
    left: 52px !important;
    opacity: 0.7 !important;
  }

  .invoice-input-qty{
    width: 20px !important;
  }

  

}

@media only screen and (max-width:912px) {
  .pro-topcont{
    display: inline !important;
    }
    .pro-leftsection{
      width: 100% !important;
    }
  
    .pro-rightsection{
      width: 100% !important;
  }

  .invoice-input-amount{
    width: 90px !important;
  }

  .invoice-td-item{
    width: 120px !important;
  }

  .invoice-input-item{
    width: 110px !important;
  }

  .invoice-input-price{
    width: 110px !important;
  }

  
}

@media print {
  table {
    margin: 0cm;
  }
  td,
  th {
    padding: 0.3cm;
  }

  td .invoice-input-unit{
    width: 60px !important;
  } 

  td .invoice-input-price{
    width: 80px !important;
  } 

  td .invoice-input-amount{
    width: 100px !important;
  } 

  td .invoice-input-item{
    width: 100px !important;
  }

  td .invoice-input-gst{
    width: 100px !important;
  }

  td input{
    width: 100% !important;
  }

  .invoice-date{
    width: 20% !important;
    margin-left: 80px !important;
    border: 0px !important;
   
  }

  .invoice-number{
    width: 20% !important;
    border: 0px !important;
    margin-top: -10px !important;
  }

  .invoice-customer{
    width: 20% !important;
    border: 0px !important;
    margin-top: -10px !important;
  }

  .invoice-top{
    display: flex !important;
    justify-content: center !important;
  }

  .invoice-table-container{
    margin-top: 20px !important;
  }

  .topcontainer-invoice{
    width: 100% !important;
    margin-left: -23px !important;
    border: 1px solid #000!important;
  }

  .rowadd-btn{
    display: none !important;
  }


}
